.app{
  margin: 30px;
}
input{
  height: 30px;
}
button{
  padding: 8px;
}
.data{
  margin-left: 20px;
  margin-top: 20px;
}
ul li {
  width: 50%;
  margin: 5px;
  padding: 10px;
  border:1px solid grey;
}
.hide{
  display: none;
}
